@media screen and (max-width: 480px){
    .ThisPC {

        overflow:scroll;
        overflow-x:hidden;

        height: 400px;

        .ThisPC-Icon {
            
        }

        .ThisPC-header-text {
            h1 {
                font-size: 1.5rem;
            }

            h3 {
                font-size: 1.25rem;
            }
        }

        .ThisPC-main-media {
            flex-direction: column;

            img {
                height: 2rem;
            }

            h3 {
                font-size: 1rem;
            }
        }
    }
}

@media screen and (min-width: 481px) {
    .ThisPC {


        .ThisPC-header-text {
            h4 {
                font-size: 1.25rem;
            }

            h1 {
                font-size: 2rem;
            }

            h3 {
                font-size: 1.5rem;
            }
        }

        .ThisPC-main-media {
            justify-content: space-between;


            img {
                height: 2.5rem;
            }

            h3 {
                font-size: 1.5rem;
            }
        }
    }  
}

.ThisPC {

    padding: .5rem 1rem;

    .ThisPC-header {

        display: flex;
        align-items: center;
        gap: .5rem;
        padding-right: .75rem;

        .ThisPC-Icon {
            width: 175px;
        }

        .ThisPC-header-text {
            h1 {
                font-weight: 700;
            }
        }
    }

    .ThisPC-main {

        .ThisPC-main-text {
            p {
                margin: 1rem 0;
            }
        }

        .ThisPC-main-media {
            display: flex;

            margin: 0 3rem;

            .ThisPC-main-media-item {
                
                display: flex;
                align-items: center;
                gap: .5rem;

                h3 {
                    font-weight: 700;
                }

            }
        }

        .ThisPC-main-conclusion {
            p {
                margin: 1rem 0;
                text-align: center;
            }
        }
    }

    .ThisPC-footer {
        
        .ThisPC-footer-Icon {
            p {
                display: inline;
            }

            a {
                display: inline;
                color: inherit;
                font-weight: 700;
            }
        }
    }
}