$tab-bg: linear-gradient(180deg,rgba(115, 115, 115, 1) 0%, rgba(217, 217, 217, 1) 100%);
$border-color: linear-gradient(180deg,rgba(255, 255, 255, 1) 0%, rgba(102, 102, 102, 1) 100%);

.window {

    position: absolute;
    z-index: 1;

    .window-tab {

        .window-tab-title {
                    display: flex;
        align-items: center;
        justify-content: space-between;

        background: $tab-bg;

        padding: 0 1rem;

        height: 50px;

            .window-tab-name {
                font-size: 1.5rem;
                font-weight: 700;
            }

            .window-tab-close {
                background-color: transparent;
                width: 40px;
                cursor: pointer;
            }
        }

        .window-tab-nav {

            height: 50px;

            display: flex;
            align-items: center;
            padding: 0 1rem;
            
            background-color: rgba(217, 217, 217, 1);

            .window-tab-nav-arrow {
                width: 2.5rem;
                margin-left: 1rem;
            }

            .window-tab-nav-search {
                background-color: white;
                height: 2.25rem;
                width: 100%;
                margin: 0 1rem;

                display: flex;
                align-items: center;

                h4 {
                    font-size: 1.25rem;
                    margin-left: 1rem;
                }
            }

            .window-tab-nav-searchbtn {
                width: 2.5rem;
                margin-right: 1rem;
            }

        }

    }

    .window-border {
        background: $border-color;
        padding: 0 5px 5px 5px;
        height: 100%;
    }

    .window-content {
        background-color: white;
        height: 100%;
    }
}